@font-face {
    font-family: 'iransans';
    src: url('../fonts/IRANSansWeb.ttf') format('truetype'), url('../fonts/IRANSansWeb.woff') format('woff');
}
/************************ Reset *************************/

/* Main Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #b4b4b4;
    font-family: 'iransans';
    font-size: 62.5%;
    line-height: 30px;
    direction: rtl;
    text-align: right;
    /* حذف اسکرول افقی */
    overflow-x: hidden;
    /* Utility Classes */
    a {
        transition: all 0.2s ease-in-out;
        text-decoration: none;
        color: #000;
        font-size: 2rem;
    }
}

.container {
    width: 90vw;
    margin: auto;
}
.fixed-top1 {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.fixed-top2 {
    position: fixed;
    top: 2.5rem;
    right: 0;
    left: 0;
    z-index: 1040;
}
/////////////////////////////////////////Start////////////////////////////////////////////
.top-menu {
    .container {
        width: 100vw;
        font-size: 5rem;
        display: flex;
        justify-content: center;
        background: #393e46;
        h1 {
            font-size: 1rem;
            padding: 0.5rem 0 0.5rem 0;
        }
    }
}
////////////////////////////////////////
.header {
    .main-menu {
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 10vh;
            padding: 1rem;
            background: rgb(255, 0, 0);
            box-shadow: 0px 1px 6px #7c7c7c;
            h1 {
                color: #fff;
            }
        }
    }

    .main-menu > ul > li {
        list-style: none;
        position: relative;
    }
    .main-menu ul li a {
        padding: 1rem 2rem;
        font-size: 15px;
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }
    .main-menu ul li ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        position: absolute;
        width: 250px;
        background: #eeeeee;
        border: 1px solid #c9c9c9;
        top: 5rem;
        right: 0;
        box-shadow: 0px 1px 6px #e6e6e6;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease-in-out;
        z-index: 999;
    }
    .main-menu ul li ul li {
        list-style: none;
        width: 100%;
    }
    .main-menu ul li ul li a {
        font-size: 1rem;
        padding: 9px 15px;
        display: block;
        font-weight: normal;
    }
    .main-menu ul li ul li a:hover {
        background: #5caf21;
        width: 100%;
        color: #fff;
    }
    .main-menu > ul > li:hover ul {
        opacity: 1;
        visibility: visible;
        top: 3rem;
    }
}
/////////////////////////////////////////////////////////
section.hero {
    background-image: url('../images/pexels-photo-4468010.jpeg');
    background-size: cover;
    background-position: center;
    .container {
        width: 100vw;
        height: 84vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        min-height: 84.4vh;
        margin-top: 6.4rem;
        h2 {
            display: block;
            font-size: 2rem;
            color: #fff;
            text-shadow: 2px 4px 5px #000;
            text-align: center;
            margin: 2rem 0 0 0;
            cursor: pointer;
            span {
                color: rgb(255, 0, 0);
                font-size: 3rem;
                transition: 0.5s ease-in-out;
                &:hover {
                    cursor: pointer;
                    font-size: 3.25rem;
                }
            }
        }
        button {
            font-size: 1.2rem;
            font-family: 'iransans';
            padding: 1rem 1rem;
            border: none;
            border-radius: 1rem;
            margin-bottom: 2rem;
            background: rgb(255, 0, 0);
            color: #fff;
            transition: 0.5s ease-in-out;
            &:hover {
                color: rgb(255, 0, 0);
                background: #fff;
                cursor: pointer;
                padding: 1rem 1.5rem;
            }
        }
    }
}
/////////////////////////////////////////////////////////
section.intro {
    .container {
        width: 100vw;
        display: flex;
        direction: ltr;
        flex-wrap: wrap;
        .intro-image {
            flex: 1 1 20rem;
            figure {
                height: 55vh;
                img {
                    width: 100%;
                    height: 61vh;
                }
            }
        }
        .intro-text {
            flex: 1 1 30rem;
            display: flex;
            flex-direction: column;
            background: #ddd;
            justify-content: center;
            align-items: center;
            height: 61vh;
            h2,
            p {
                color: rgb(58, 58, 58);
                font-weight: bold;
                line-height: 4rem;
            }
            h2 {
                font-size: 1rem;
            }
            p {
                font-size: 0.75rem;
                padding: 0.5rem 0;
            }
            span {
                color: rgb(0, 4, 255);
                font-size: 1rem;
            }
        }
    }
}
